body {
background-color: rgb(91, 84, 219);
font-family: Arial, Helvetica, sans-serif;
}
header {
color: white;
text-align: center;
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

div#msg {
    text-align: center;
}

div#foto > img{
   border-radius: 50% 50% 50% 50%;
   width: 320px;
   height: 320px;
   display: block;
   margin: auto;
   padding: 10px;
}

footer {
color: white;
text-align: center;
font-style: italic;
}