
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
}
header {
    height: 120px;
    background-image: linear-gradient(to bottom, #057cc7, #049DD9);
    margin-bottom: 47px;
    min-width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    padding-top: 10px;
}
img#foto1 {
    height: 100px;
    position: relative;
    right: 661px;
} 
main {
    background-color: #049DD9;
    margin: auto;
    min-width: 300px;
    max-width: 1394px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
img#foto02 {
    max-width: 100%;
    border-radius: 20px;
}
section#s1 {
    text-align: center;
}
h1#t1 {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    font-size: 2.5em;
    font-weight: 500;
}
p#p1 {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 2.0em;
    font-weight: 500;
} 
section > p {
    font-family: "Montserrat", sans-serif;
    font-size: 2.0em;
}
footer {
    height: 58px;
    background-color: aquamarine;
    border-radius: 20px 20px 0px 0px;

}
