
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
}
header {
    height: 120px;
    background-image: linear-gradient(to bottom, #057cc7, #049DD9);
    margin-bottom: 47px;
    min-width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    padding: 10px;
}
img#foto1 {
    height: 100px;
    position: relative;
    right: 661px;
} 
h1#nome {
    position: absolute;
    left: 600px;
    top: 25px;
    font-family: "Cookie", cursive;
    font-size: 30px;
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    margin: auto;  
}
main {
    background-color: #049DD9;
    margin: auto;
    min-width: 300px;
    max-width: 1394px;
    padding: 0px 20px 20px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
section#s1 {
    background-image: url('../imagens/foto-bb-2.jpg');
    height: 600px;
    max-width: 1000px;
    margin: auto;
    background-position: center top;
    border-radius: 20px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.527);
    background-attachment: fixed;
}
section#s1:after {
    content: "";
    height: 600px;
    width: 1000px;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000000d0 100% );
    margin: auto;
    border-radius: 20px;
}
div#titulo {
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    max-width: 1000px;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-shadow: 1px 1px 0px black;
    text-align: center;
}
h1#t1 {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    font-size: 2.5em;
    font-weight: 500;
}
div > p#p1 {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 2.0em;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
} 
section {
    margin: auto;
    max-width: 1000px;
    text-align: justify;
}
section > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.2em;
}
section > p {
    font-family: "Montserrat", sans-serif;
    font-size: 2.0em;
}
footer {
    height: 58px;
    background-image: linear-gradient(to bottom, #057cc7, #049DD9 );
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    font-family: "Cookie", cursive;
    font-size: 35px;
    padding: 20px;

}
