@media screen and (min-width: 500px) {
    img#foto1 {
        height: 100px;
        position: relative;
        right: 185px;
    }
}
@media screen and (min-width: 1024px){
    img#foto1 {
        height: 100px;
        position: relative;
        right: 438px;
    }
}
@media screen and (min-width: 1420px) {
    img#foto1 {
        height: 100px;
        position: relative;
        right: 640px;
    }
}
@media screen and (min-width: 1900px) {
    img#foto1 {
        height: 100px;
        position: relative;
        right: 873px;
    }
    }

