
@font-face {
    font-family: mont;
    src: url(Montserrat-VariableFont_wght.ttf);
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
}
header {
    height: 200px;
    background-image: linear-gradient(to bottom, #057cc7, #049DD9);
    margin-bottom: 47px;
    min-width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}
header > h1 {
    margin: auto;
    font-family: mont;
    font-weight: 500;
    max-width: 800px;
    padding-top: 20px;
}
header > p {
    font-size: 1.5em;
    margin: auto;
    
}
nav#box {
    position: relative;
    right: 491px;
    top: 73px;
    display: block;
    margin: auto;
    max-width: 1000px;
    
}
nav#box > a {
    padding: 10px 28px 19px 34px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
    color: black;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.349);
}
nav#box > a:hover {
    background-color: #0367A6;
    color: #00b7ff;
}
@media screen (max-width: 1000px){
    nav#box{display: none;}
}
main {
    margin: 10px 10px 10px 10px;
    background-color: #049DD9;
    margin: auto;
    min-width: 300px;
    max-width: 1394px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
section > h1 {
    text-align: left;
}
section > p {
    font-family: mont;
    font-size: 1.5em;
    text-align: justify;


} 
footer {
    height: 58px;
    background-color: aquamarine;
    border-radius: 20px 20px 0px 0px;

}
