
@font-face {
    font-family: mont;
    src: url(Montserrat-VariableFont_wght.ttf);
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    text-align: center;
}
header > h1 {
    margin: auto;
    font-family: mont;
    font-weight: 500;
    width: 800px;
    padding-top: 20px;
}
header {
    height: 200px;
    background-color: antiquewhite;
    font-family: ;
}
nav {
    position: relative;
    right: 680px;
    top: 30px;
}
main {
    height: 730px;
    width: 730px;
    background-color: rgba(0, 0, 0, 0.377);
    text-align: center;
    margin: auto;
}
main > div > p {
    margin: 0px;
} 
footer {
    height: 58px;
    background-color: aquamarine;
    border-radius: 20px 20px 0px 0px;

}
